{{ template "header" }}

  {{ $project := .project }}

  <p class='lead text-info'>Commit listing for project '<em>{{ $project }}</em>'</p>

  <table class='table table-bordered table-striped table-condensed'>
    <thead>
      <tr><th>Commit ID</th><th>Message</th></tr>
    </thead>
    <tbody id='commit-listing'>
      {{range $k, $commit := .commits}}
      <tr id='{{ $commit.Id }}'>
        <td><a href='/{{ $project }}/commits/{{ $commit.Id }}'>{{ $commit.Id }}</a></td>
        <td><a href='/{{ $project }}/commits/{{ $commit.Id }}'>{{ $commit.Msg }}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>

{{ template "footer" }}
